<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solvd.laba.ermakovich.ha.repository.AddressRepository">

    <insert id="save" parameterType="solvd.laba.ermakovich.ha.domain.Address" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO addresses (city, street, house, flat) VALUES
        (#{city}, #{street}, #{house}, #{flat})
    </insert>

    <select id="find" parameterType="solvd.laba.ermakovich.ha.domain.Address" resultType="solvd.laba.ermakovich.ha.domain.Address">
        SELECT id, city, street, house, flat
        FROM addresses
        WHERE city =#{city} and street=#{street} and house=#{house} and flat=#{flat}
    </select>

</mapper>